.blog-wrap{
    max-width: 700px;
    margin: 0 auto;
}
.link-wrap{
  font-size: 1rem;
  font-weight: 600;
  color: #a9a9a9;
  margin: 0.8rem;
  display: block;
}
.blog-wrap header{
  text-align: center;
}
.publishedDate-wrap{
    font-size: 1rem;
    font-weight: 600;
    color: #a9a9a9;
}

 
.categoryLable-wrap{
    background: linear-gradient(to right, #7373c2, #addaeb);
    width: fit-content;
    padding: 0.3rem 0.5rem;
    color: white;
    font-size: 0.7rem;
    border-radius:5px;
    text-transform: capitalize;
    margin: 0.8rem 0;
}
.blog-wrap img{
    width: 100%;
}
.desc-wrap{
    padding: 0.8rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;

}